@font-face {
    font-family: 'Menlo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Menlo Regular'), url('/assets/fonts/Menlo-Regular.woff') format('woff');
}
.w-75 {
    width: 75%;
}
.company.bg {
    background-color: #01012a;
    color: #bbb;
}
.mt-25 {
    margin-top: 15rem!important;
}
.btn-contact {
    /* font-size: 20px !important; */
    color: #fff !important;
    background-color: #ec1b23 !important;
    border-color: #ec1b23 !important;
}
.company.description {
    font-size: 16px;
}
.company-name {
	display: inline-block;
	font-family: 'Menlo Regular';
}
.company-name.header {
    font-size: 70px;
}
.company-name.nullptr {
	color: #ec1b23; 
}
.company-name.security {
    color: #ffffff; 
}
.company-name.small {
    font-size: 16px;
}
